Django==1.8.3
djangorestframework==3.3.2
MySQL-python==1.2.5
django-rest-multiple-models==1.6.3
enum==0.4.6
grizzled-python==1.0.1
http==0.2
httpie==0.9.3
prettytable==0.7.2
Pygments==2.1.2
pytz==2015.7
PyYAML==3.11
requests==2.9.1
sae-python-dev==1.3.6
sqlcmd==0.7.1
Werkzeug==0.11.4
