<div ng-controller="warningCtrl" class="sent-warning-container">
  <div>
    <div><label class="warning-main-title">注意事项</label></div>
    <div>
      <ul>
        <li>你会得到一个地址, 请确定地址正确书写。</li>
        <li>你会得到一个Postcard Id, <b>请Id号码写在明信片上面</b>, 接受者需要注册, 才算成功寄送明信片。</li>
      </ul>
    </div>
  </div>

  <div id="get-address-container" class="get-address-container">
    <div>
      <input type="checkbox" name="check-confirm-warning" value="" id="check-confirm-warning">
      <label for="check-confirm-warning" class="confirm-warning-wenzi">
        我已经阅读了上面的文字, 我确定我会向地址发送一张明信片, 并且我确定我会把POST ID写到明信片上面。
      </label><br>
    </div>
    <button id="btn-get-address" name="btn-get-address" class="button" ng-click="confirmGetAddress()">得到地址
    </button>
  </div>

</div>