{% extends "foundation.html" %}

{% block headinfo %}

<style>

  .hobbyist-main-content-container {
    min-height: 200px;
    border: red 1px solid;
    margin: 0 5px;
    z-index: -100;
  }

  .hobbyist-main-content-container .hobbyist-main-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .h-container {
    border: red 1px solid;
    margin: 1px;
    min-height: 104px;
  }

  .clear {
    clear: both;
  }


  .h-item {
    border: red 1px solid;
    height: 100px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    /*等同于clear:both*/
  }

  .h-item div {
    margin: 0 1px;
  }

  .h-item .h-avatar{
    width: 96px;
    height: 96px;
    border: red 1px solid;
    background: transparent;
    display: inline-block;
    margin: 0 2px;
  }

  .h-avatar img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .h-avatar-img:hover {
    cursor: pointer;
  }

  .h-item .h-text-info {
    vertical-align: top;
    width: 100px;
    height: 96px;
    display: inline-block;
    border: red 1px solid;
  }

  .h-item .h-text-info div{
    height: calc(88px/4);
    line-height: calc(88px/4);
    border: red 1px solid;
    margin: 1px;

  }

  .h-item:hover {
    box-shadow: #888888 5px 5px 5px;
    -moz-box-shadow: #888888 5px 5px 5px;
    -webkit-box-shadow: #888888 5px 5px 5px;
  }

  .h-text-info .h-text-info-item{
    overflow: hidden;
    font-size: 6px;
    text-align: right;
    padding-right: 2px;
  }



</style>
{% endblock %}

{% block content %}
<div class="content-container hobbyist-main-content-container" ng-app="myApp">
  <div class="hobbyist-main-title">发烧友</div>
  <div class="h-container" ng-controller="myCtrl">

    <div class="h-item" ng-repeat="h in hobbyists"  >

      <div class="h-avatar">
        <img class="h-avatar-img" src="{[{h.avatar_info.avatar_url}]}" ng-click="visitPublic($event.target)"/>
        <div style="display: none;" class="user-id-placeholder">{[{h.user_id}]}</div>
        <input style="display: none;" type="hidden" class="user-id-inp" value="{[{h.user_id}]}" />
      </div>
      <div class="h-text-info">
        <div class="h-text-info-item">{[{h.text_info.name}]}</div>
        <div class="h-text-info-item">{[{h.text_info.city}]},{[{h.text_info.country}]}</div>
        <div class="h-text-info-item">明信片指数:{[{h.text_info.postcards_index}]}</div>
        <div class="h-text-info-item">等级:{[{h.text_info.ranking}]}</div>
      </div>
    </div>

    <br style="clear: both; display: none;"/>
    <div class="clear"></div>

  </div>



  </div>

</div>


{% endblock %}

{% block jscontainer %}
<script src="{{STATIC_URL}}lib/angular.js" type="text/javascript" ></script>
<script src="{{STATIC_URL}}javascripts/hobbyist-page.js"></script>
{% endblock %}