{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/profile-page.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="profile-main-content-container content-container" ng-app="myApp" >
  <div class="info-box" ng-controller="myCtrl">
  <div class="upper">
   <div class="left">
    <div class="profile-image">
     <div>
      <img src="{{STATIC_URL}}images/profile-icon.jpg">
     </div>
    </div>
    <div class="info-summary">

     <div>成功发送了{[{sent_cards_arrived}]}张</div>
     <div>成功接收了{[{receive_cards_arrived}]}张</div>
     <div>有{[{sent_cards_travelling}]}张明信片在飞向别人</div>
     <div>有{[{receive_cards_travelling}]}张明信片正在飞向我</div>
    </div>

   </div>
   <div class="right">

    <div class="btns">
     <div class="btn-send-card">
      寄送明信片
     </div>
     <div class="btn-receive-card">
      注册明信片
     </div>
    </div>
   </div>

  </div>


 </div>
  <div class="profile-cards-info-container">
   <div>
    <label class="profile-cards-info-main-title">明信片统计</label>
   </div>
   <div class="tab-btn-container ">

    <a ui-sref="sentArrived" ui-sref-active="active" id="tab-sent-arrived" class="tab-btn">成功寄送</a>
    <a ui-sref="receiveArrived" ui-sref-active="active" id="tab-receive-arrived" class="tab-btn">成功接收</a>
    <a ui-sref="sentTravelling" ui-sref-active="active" id="tab-sent-travelling" class="tab-btn">未寄送到</a>
    <a ui-sref="receiveTravelling" ui-sref-active="active" id="tab-receive-travelling" class="tab-btn">未接收到</a>

   </div>
   <div>
    <ui-view></ui-view>
   </div>

  </div>

  <div class="feeds-box">

  <div class="feeds-box-main-title">寄送明信片的实时动态</div>
  <div id="liveEvents" class="liveEvents">
   <ul>
    <li>
     <p id="event-94573570" style="opacity: 1;"><a href="/u/hsianfarergniwu">Liu Chang</a> sent a postcard to
      <a href="/u/zgherraare1">Zhang Guanghui</a>
     </p>
    </li>
   </ul>

  </div>

 </div>

</div>

{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}lib/angular.js"></script>
<script src="{{STATIC_URL}}lib/angular-ui-router.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/profile-page.js"></script>

{% endblock %}