{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/public-profile-page.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="public-main-content-container" >
  <div class="h-image-container">
    <div>
      <img id="h-img"  src="">
    </div>

  </div>
  <div class="h-text-info">
    <input type="hidden" id="text-info-user-id-inp" value=""/>
    <div style="display: none" id="text-info-user-id-holder" ></div>
    <div id="text-info-email"></div>
    <div id="text-info-username"></div>
  </div>
  <div class="action-btn-container">
    <div class="action-btn btn-active" id="btn-follow-him">关注他</div>
    <div class="action-btn">给他私信</div>
    <div class="action-btn">向他寄送明信片</div>
    <div class="action-btn">向他索要明信片</div>
  </div>

  <div class="timeline-main-title">他的最新活动</div>
  <div class="timeline-content-container" id="timeline-content-container" >

    <div class="act-item-container act-item-container-1" id="act-item-container-1">
      <div class="act-time-container left">2017.5.17 5:10 UTC</div>
      <div class="act-short-container right">
        <div class="act-subject">example man</div>
        <div class="act-short-name">发送了一张明信片</div>
      </div>
      <br style="clear: both; display: none;" />
    </div>

  </div>

</div>

{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}lib/angular.js"></script>
<script src="{{STATIC_URL}}javascripts/public-profile-page.js" type="text/javascript"></script>

{% endblock %}