{% extends "foundation.html" %}

{% block headinfo %}
<style>

  .receive-card-container {
    width: 60%;
    border: 1px solid red;
  }

  label{
    padding: 2px;
  }

  .receive-card-title {
    font-size: 1.5em;
  }

  input {
    margin: 2px;
  }

  .card-id-container {
    margin-top: 20px;
  }

  .card-info-item{
    margin-bottom: 1em;
    padding: 5px;
    min-height: 1em;
    overflow: hidden;
    clear: both;
  }

  .card-info-item .item-title {
    width: 25%;
    float: left;
    text-align: right;
    padding-right: 1em;
  }

  .card-info-item .item-content {

    width: 50%;
    float: left;
    text-align: left;
  }

  .card-info-item .item-error-msg {
    /*border: 1px red solid;*/
    min-height: inherit;
    width: 20%;
    float: left;
    text-align: left;
  }

  .submit-action-container{
    margin-top:1.5em;
  }

  .submit-action-container button {
    min-width: 6em;
    margin-bottom: 1em;
  }
  .submit-action-container button:hover {
    background: red;
    color: white;
  }

  .submit-action-container .receive-card-result{
    display: inline-block;
    /*border: 1px solid red;*/
    min-width: 6em;
    min-height: 2em;
    vertical-align: top;
    color: red;
  }
</style>
{% endblock %}

{% block content %}
<div class="content-container receive-card-content-container">
  <div id="receive-card-container" class="receive-card-container">
    {% csrf_token %}
    <div>
      <label class="receive-card-title">注册明信片</label>
    </div>
    <div class="card-id-container card-info-item">
      <label class="item-title">Postcard Id</label>
      <input class="item-content" type="text" name="card_name" id="card_name" placeholder="postcard id">
      <label class="item-error-msg"></label>
      <div style="display: none; clear: both"></div>
    </div>
    <div class="card-photo-container card-info-item">
      <label class="item-title">Postcard Photo</label>
      <input class="item-content" type="file" name="card_photo" id="card_photo" placeholder="postcard photo">
      <label class="item-error-msg"></label>
      <div style="display: none; clear: both"></div>
    </div>
    <div class="submit-action-container">
      <button id="btn-submit">Register</button>
      <div class="receive-card-result" id="receive-card-result-msg"></div>
      <div class="receive-card-result" id="receive-card-result-details"></div>
    </div>


  </div>

  <!--通过前端Form-->
  <!--<form method="POST" enctype="multipart/form-data" id="register-card-form">-->
    <!--{% csrf_token %}-->
    <!--<div><label>Postcard Id<input type="text" name="card_name" id="card_name" placeholder="postcard id"></label></div>-->
    <!--<div><label>Postcard Photo<input type="file" name="card_photo" id="card_photo" placeholder="postcard photo"></label></div>-->
    <!--<div><button id="submit">Submit</button></div>-->
    <!--{% if errors %}-->
    <!--<p style="color: red;">-->
    <!--Please correct the error{{ errors|pluralize }} below.-->
    <!--</p>-->
    <!--{% endif %}-->
  <!--</form>-->
  <!--{% if errors %}-->
  <!--<p style="color: red;">-->
    <!--Please correct the error {{ errors|pluralize }} below.-->
  <!--</p>-->
  <!--{% endif %}-->


</div>

{% endblock %}

{% block jscontainer %}

<script src="{{STATIC_URL}}javascripts/receive-card-page.js"></script>

{% endblock %}