{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/send-card-page.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div ng-app="myApp", class="sent-card-main-container">
  <div class="sent-card-main-title">寄送明信片</div>
  <div style="display: none;">
    <!--ui-sref为state name-->
    <a ui-sref="send" ui-sref-active="active" id="tab-send" class="tab-btn">send</a>
    <a ui-sref="confirm" ui-sref-active="active" id="tab-confirm" class="tab-btn">confirm</a>
  </div>
  <ui-view>
  </ui-view>
</div>


{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}lib/angular.js"></script>
<script src="{{STATIC_URL}}lib/angular-ui-router.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/send-card-page.js"></script>
{% endblock %}