{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/single-card-page.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="content-container">
  <div class="postal-info-container" ng-show="postal_info != null">
    <div class="postal-info-item twoColumn">
      <div class="postal-info-title">明信片ID:</div>
      <div class="postal-info-content">{{card.card_name}}</div>
      <span style="display: none; clear:both"></span>

    </div>
    <div class="postal-info-item twoColumn">
      <div class="postal-info-title">接收者的地址:</div>
      <div class="postal-info-content">
        <div>{{card.torecipient.profileaddress.name}}</div>
        <div>{{card.torecipient.profileaddress.address}}</div>
        <div>{{card.torecipient.profileaddress.postcode}}</div>
      </div>
      <span style="display: none; clear:both"></span>

    </div>
  </div>


</div>



{% endblock %}

{% block jscontainer %}

<script>
  $(document).ready(function(){

    $("#cards").addClass('active');

  });
</script>

{% endblock %}