{% extends "foundation.html" %}

{% block headinfo %}
<style>
  .main-content-container {
    border: red 1px solid;
    margin-left: 5px;
    margin-right: 5px;
  }

  .postal-title-container {
    margin-bottom: 0.5em;
    font-weight:bold;
  }
  .postal-title-container .main-title{
    font-size: 16px;
    margin-bottom: 0.5em;
    font-weight:bold;
  }

  .postal-info-item {
    overflow: hidden;
    clear:both;
    margin-bottom: 5px;
  }

  .postal-info-item .postal-info-title{
    width:30%;
    text-align: right;
    float: left;

  }

  .postal-info-item .postal-info-content{
    width: 65%;
    text-align: left;
    float: right;
    margin-bottom:2px;
  }

</style>
{% endblock %}

{% block content %}
<div class="content-container main-content-container">
  <div class="postal-title-container">
    <div class="main-title">新明信片寄送地址</div>
    <div><label>请记住一定要把Postcard ID写在明信片上面</label>, 否则接收者无法登记收到, 你不会得到积分。</div>
  </div>
  <div class="postal-info-container" ng-show="postal_info != null">
    <div class="postal-info-item twoColumn">
      <div class="postal-info-title">明信片ID:</div>
      <div class="postal-info-content">{{card.card_name}}</div>
      <span style="display: none; clear:both"></span>

    </div>
    <div class="postal-info-item twoColumn">
      <div class="postal-info-title">接收者的地址:</div>
      <div class="postal-info-content">
        <div>{{card.torecipient.profileaddress.name}}</div>
        <div>{{card.torecipient.profileaddress.address}}</div>
        <div>{{card.torecipient.profileaddress.postcode}}</div>
      </div>
      <span style="display: none; clear:both"></span>

    </div>
  </div>
</div>
{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}lib/angular.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/travelling-card-page.js"></script>
{% endblock %}