{% extends "foundation.html" %}

{% block headinfo %}
<style>

  .postcard-mail-title-container{
    font-size: 1em;
    padding: 5px;
  }

  .postcard-mail-title-container div{
    padding: 10px;
  }

  .postcard-mail-title-container div label {
    font-weight:bold;
  }

  .postcard-mail-info-container {
    padding: 5px;
  }

  .postcard-mail-info-container div {
    padding: 10px;
  }

</style>
{% endblock %}

{% block content %}
<div class="content-container">
  <div class="spanner postcard-mail-title-container">
    <div><h3>寄送地址</h3></div>
    <div><p><label>请记住一定要把Postcard ID写在明信片上面</label>, 否则接收者无法登记收到, 你不会得到积分。</p></div>
  </div>
  <div class="postcard-mail-info-container">
    <div>
      <h3>Postcard Id:</h3>
      <p>{{card_name}}</p>
    </div>
      <!--<h3>接收者的Email:</h3>-->
      <!--<p>{{recipient_user.email}}</p>-->
    <div>
      <h3>接收者的地址:</h3>
      <p>{{recipient_address.name}}</p>
      <p>{{recipient_address.address}}</p>
      <p>{{recipient_address.postcode}}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}javascripts/send-card-page.js"></script>
{% endblock %}