{% extends "foundation.html" %}

{% block title %}
<title>用户注册</title>
{% endblock %}

{% block headinfo %}
 <link href="{{STATIC_URL}}styles/register.css" rel="stylesheet" type="text/css">


{% endblock %}

{% block content%}
<div class="section-register">
	<div id="registerform" name="registerform" class="register-form col-md-4 threeColumn">
    <fieldset>
      <!--为了得到csrf token-->
      {% csrf_token %}
      <legend>注册新用户</legend>

      <div class="item item-account">
          <input type="text" name="form-email" id="form-email" class="inp-item" placeholder="邮箱">
          <label id="email-requirement" class="inp-requirement"></label>
          <label id="email-error" class="inp-error"></label>
          <br style="display: none; clear:both"/>
      </div>

      <div class="item item-passwd">
        <input name="form-password" placeholder="密码" id="form-password" class="inp-item" type="password">
        <label id="password-requirement" class="inp-requirement"></label>
        <label id="password-error" class="inp-error"></label>
        <br style="display: none; clear:both"/>
      </div>

      <div class="item item-passwd item-passwd-2">
        <input name="form-password-2" placeholder="重新输入密码" id="form-password-2"
               class="inp-item" type="password" >
        <label id="password-requirement-2" class="inp-requirement"></label>
        <label id="password-error-2" class="inp-error"></label>
        <br style="display: none; clear:both"/>
      </div>

      <div class="item item-submit">
          <div id="btn-register-submit">提交</div>
        <br style="display: none; clear:both"/>
      </div>
      <div class="item item-server-error">
        <label id="server-error-message"></label>
        <br style="display: none; clear:both"/>
      </div>

    </fieldset>
  </div>
</div>


{% endblock %}

{% block jscontainer %}
<script type="text/javascript" src="{{STATIC_URL}}javascripts/hash-sha1-helper.js" ></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/validator.js" ></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/login-helper.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascripts/register.js" type="text/javascript"></script>
{% endblock %}