{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/view-cards-page.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div ng-app="myApp" ng-controller="myCtrl" class="tab-container">

  <div class="tab-btn-container ">

    <a ui-sref="sentArrived" ui-sref-active="active" id="tab-sent-arrived" class="tab-btn">TAB 1</a>
    <a ui-sref="receiveArrived" ui-sref-active="active" class="tab-btn">TAB 2</a>
    <a ui-sref="sentTravelling" ui-sref-active="active" class="tab-btn">TAB 3</a>
    <a ui-sref="receiveTravelling" ui-sref-active="active" class="tab-btn">TAB 4</a>

    <!--<a ui-sref="sentArrived" ui-sref-active="active" id="tab-sent-arrived" class="tab-btn">成功寄送的明信片</a>-->
    <!--<a ui-sref="receiveArrived" ui-sref-active="active" class="tab-btn">已接收到的明信片</a>-->
    <!--<a ui-sref="sentTravelling" ui-sref-active="active" class="tab-btn">未寄送到的明信片</a>-->
    <!--<a ui-sref="receiveTravelling" ui-sref-active="active" class="tab-btn">将要接收的明信片</a>-->

  </div>
  <ui-view></ui-view>
</div>

{% endblock %}

{% block jscontainer %}
<script src="{{STATIC_URL}}lib/angular-ui-router.min.js"></script>
<script src="{{STATIC_URL}}javascripts/view-cards-page.js"></script>


{% endblock %}