{% extends "foundation.html" %}

{% block headinfo %}
<link href="{{STATIC_URL}}styles/view-cards-page.css" rel="stylesheet">
{% endblock %}

{% block content %}

<!--<div ng-app="myApp" ng-controller="myCtrl" class="tab-container">-->
<div ng-app="myApp" class="tab-container">
  <div class="tab-btn-container ">

    <a ui-sref="sentArrived" ui-sref-active="active" id="tab-sent-arrived" class="tab-btn">成功寄送</a>
    <a ui-sref="sentTravelling" ui-sref-active="active" id="tab-sent-travelling" class="tab-btn">未寄送到</a>
    <a ui-sref="receiveArrived" ui-sref-active="active" id="tab-receive-arrived" class="tab-btn">已接收到</a>
    <a ui-sref="receiveTravelling" ui-sref-active="active" id="tab-receive-travelling" class="tab-btn">还未接收</a>

  </div>
  <ui-view></ui-view>

</div>

{% endblock %}

{% block jscontainer %}
<script src="{{STATIC_URL}}lib/angular-ui-router.min.js"></script>
<script src="{{STATIC_URL}}javascripts/view-cards-page.js"></script>

{% endblock %}