{% extends "base.html" %}

{% block headinfo %}
 <link href="{{STATIC_URL}}styles/mainpage.css" rel="stylesheet">
 <title>Main Page</title>
{% endblock %}

{% block content%}
    <div class="send-card-button">
        <p>Leave Address to Receive Postcards </p>
    </div>


    <div class="add-address-div">
        <form action="/api/profile/address/register/" method="post" class="add-address-form">
            {% csrf_token %}
            Name:<br>
            <input type="text" name="name" class = "add-address-form-input"><br>
            Address:<br>
            <input type="text" name="address" class = "add-address-form-input"><br>
            PostCode:<br>
            <input type="text" name="postcode" class = "add-address-form-input"><br>

            <input type="submit" value="Submit" />
        </form>

    </div>

    <div class="upload-file-div">

        <form enctype="multipart/form-data" action="/" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
            {% endif %}
            {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                    <div>
                    {{ field.label_tag }} {{ field }}
                        </div>
                </div>

            {% endfor %}
            <input type="submit" value="Submit" />
        </form>


    </div>





{% endblock %}