.login-main-content-container{

}

.login-main-content-container .login-form{
  margin:0 33%;
}


.login-form {
  float:right;
}

.login-form .item {
  margin-bottom: 2em;
}

.login-form .item .item-passwd #find-passwd{
  display: inline-block;
}

.login-form .item .btn-login-submit{
  width: 9em;
}

.login-form .item .btn-login-submit:hover{
  background: red;
  color: white;
}

.third-party-login{

}

.third-party-login ul {
  list-style: none;
}
