.moments-main-content-container {
  min-height: 300px;
  /*border: red 1px solid;*/
  /*margin: 0 5px;*/
}

.moments-main-content-container .moments-main-title{
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  background: #eeeeee;
}


.moments-container {
  background: #eeeeee;
  padding-top: 1em;
}

.moments-container .act-item-container {
  width: 100%;
  /*border: 1px red solid;*/
  margin-bottom: 1em;
  clear: both;
  overflow: hidden;
  box-shadow: 1px 1px 3px gray;
  border-bottom: 1px solid #ebebeb;
}

.moments-container .act-item-container:last-child {
  margin-bottom: 0;
}

.moments-container .act-item-container .left{
  width: 20%;
  float: left;
  margin-top: 0.5em;
}

.moments-container .act-item-container .right{
  width: 78%;
  float: left;
  min-height: 5em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid red;
}

.moments-container .act-item-container .right div {
  text-align: left;
}


.moments-container .act-item-container .act-subject-avatar-container{
  clear: both;
  overflow: hidden;
}

.moments-container .act-item-container .act-subject-avatar-container img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  float:right;
  margin-right: 2em;
  padding: 5px;
  border: 1px solid red;
}


.act-item-container .act-text-container {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 5px;
}

.act-item-container .act-text-container .act-subject,
.act-item-container .act-text-container .act-short-name {
  display: inline-block;
  margin-right: 5px;
}


.moments-container .act-item-container .act-photos-container img {
  width: 200px;
  overflow: hidden;
}

.moments-container .act-item-container .act-time-container {
  color: darkgray;
}

.act-item-container .btn-feedback-container {

}

.act-item-container .btn-feedback-container .btn-feedback {
  display: inline-block;
  text-align: center;
  font-size: 8px;
  min-width: 6em;
  height: 2em;
  line-height: 2em;
  border: 1px solid red;
}

.btn-feedback-container .btn-feedback span{
  font-size: 8px;
}

.btn-feedback-container {

}


.btn-feedback-container .btn-feedback{
  color: black;
  background: white;
}

.btn-feedback-container .btn-feedback:hover,
.btn-feedback-container .btn-feedback:active{
  background: red;
  color: white;
  box-shadow: red 2px 2px 0px;
  cursor: pointer;
}

.btn-feedback-container .btn-feedback:hover img,
.btn-feedback-container .btn-feedback:active img,
.btn-feedback-container .btn-feedback:hover span,
.btn-feedback-container .btn-feedback:active span{
  background: red;
}

.btn-feedback-container .btn-feedback-pressed {
  background: transparent;
  color: gray;

}


.btn-feedback-container .img-icon{
  width: 1.5em;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0 5px;
}



.dianzans-container {
  border: solid red 1px;
  margin-top: 5px;
  padding-left: 10px;;
}

.dianzans-container .dianzan-img.img-icon{
  width: 1.5em;
  overflow-y: hidden;
  overflow-x: hidden;
  display: inline-block;
}

.dianzans-container .dianzan-username-str{
  display: inline-block;
}