.profile-main-content-container {
  /*margin: 0 5px;*/
  /*border: red 1px solid;*/
}

.info-box .upper {
  text-align: center;
}

.info-box .upper .left {
  width: calc(50% - 10px);
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  height: 150px;
}

.upper .left  .profile-image {
  width: calc(40% - 5px);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  max-height: 100%;
  border:red 1px solid;
}

.upper .left  .profile-image img {
  height: 140px;
  width: 140px;
  overflow: hidden;
}

.upper .left .info-summary {
  width: calc(60% - 5px);
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.upper .left .info-summary div {
  height: 32px;
  line-height: 32px;
  border:red 1px solid;
  margin-bottom: 3px;
  width: 100%;
  font-size: 1.0em;
  color: black;
}

.upper .left .info-summary div:hover{
  background: red;
  color: white;
  text-decoration: none;
}

.upper .right {
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  height: 150px;
  border:red 0.5px solid;
}


.upper .right .btns {
  margin-top: 2px;
  height: 100%;
}
.upper .right .btns div {
  text-align: center;
  height: 140px;
  line-height: 140px;
  border:red 0.5px solid;
  width: calc(50% - 5px);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 25px;

}

.upper .right .btns div:hover {
  background: red;
  /*color: white;*/
  cursor: pointer;
}

.upper .right .btns div:active {
  background: red;
  /*color: white;*/
  cursor: pointer;
}

.upper .right .btns div:hover{
  background: red;
  color: white;
}

.upper .right .btns div:active {
  background: red;
  color: white;
}

.upper .right .btns .btn-send-card {


}

.upper .right .btns .btn-receive-card {

}

/*主页明信片详细情况*/
.profile-cards-info-container{
  min-height: 200px;
  border: 1px solid red;
  margin: 0 5px;
}

.profile-cards-info-main-title{
  padding-left: 50px;
  font-size: 1.5em;
}

.tab-btn-container {

}

.tab-btn-container a.tab-btn {
  display: inline-block;
  width:10%;
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid red;
}

.tab-btn-container a.tab-btn:hover {
  color: white;
  background: red;
  box-shadow: #888888 1px 1px 1px;
  -moz-box-shadow: #888888 1px 1px 1px;
  -webkit-box-shadow: #888888 1px 1px 1px;
}

.tab-btn-container a.tab-btn.active{
  background: red;
  color: white;
  box-shadow: #888888 1px 1px 1px;
  -moz-box-shadow: #888888 1px 1px 1px;
  -webkit-box-shadow: #888888 1px 1px 1px;
}


.profile-cards-info-container table{
  width: 99%;
}
.profile-cards-info-container table tr td, .profile-cards-info-container table tr th{
  margin: 0 2px;
  padding: 0 2px;
  border: solid 1px black;
}

.profile-cards-info-container table tr th{
  text-align: center;
}

table tr th:nth-child(1){
  width: 8.4%;
}


table tr th:nth-child(2){
  width: 9.6%;
}

table tr th:nth-child(3){
  width: 20.9%;
}

table tr th:nth-child(4){
  width: 11.5%;
}


table tr th:nth-child(5){
  width: 9.6%;
}

table tr th:nth-child(6){
  width: 20.9%;
}

table tr th:nth-child(7){
  width: 11.5%;
}
table tr th:nth-child(8){
  width: 7.4%;
}



/*明信片实时动态的格式*/
.feeds-box {
  min-height: 100em;
  margin: 0 5px;
  border: 1px solid red;
}

.feeds-box .feeds-box-main-title{
  font-size: 16px;
  margin-top:8px;
  margin-bottom: 8px;
}

.feeds-box div {
  text-align: center;
}

.feeds-box div h3{
  border:red 0.5px solid;
  text-align: center;
}

.feeds-box div p{
  border:red 0.5px solid;
}

.feeds-box #liveEvents ul li{
  list-style: none;
}