.section-register {
  clear: both;
  overflow: hidden;
}

.section-register .register-form {
  margin-left: 33%;
  margin-right: 33%;
}

.threeColumn {

}

.threeColumn.item {
  clear: both;
  overflow: hidden;
  margin-bottom: 2em;;

}

.threeColumn.item .inp-item{
  float:left;
  width:32%;
  height: 2em;
  margin-bottom: 0;
}

.threeColumn.item .inp-requirement{
  width:32%;
  float:left;
  height: 2em;
  line-height: 100%;
  margin-bottom: 0;
}

.threeColumn.item .inp-error{
  width:32%;
  height: 2em;
  float:left;
  margin-bottom: 0;
}

.item-submit {
  height: 2em;
}

#btn-register-submit {
  background: white;
  color: black;
  border: red 1px solid;
  display: inline-flex;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 5em;
  float:left;
  height: 2em;
  line-height: 2em;
}

#btn-register-submit:hover {
  background: red;
  color: white;
  box-shadow: red 1px 1px 0px;
  cursor: pointer;
}


#btn-register-submit:active{
  background: red;
  color:white;
  box-shadow: red 2px 2px 2px;
}

.hide {
  display: none;
}

.item-server-error {
  margin-top: 1em;
}

.item-server-error label {
  font-size: 12px;
  font-weight: normal;
  color: red;
}

