.setting-main-content-container{

}

.tab-btn-container{
  width: 90%;
  margin:0 auto
}

.tab-btn-container div {
  width: 100%;
}
.tab-btn-container a.tab-btn{
  text-align: center;
  display: inline-block;
  width: calc(99%/3 - 2px);
  background: lightcoral;
  min-height: 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.tab-btn-container a.tab-btn:active{
  background: red;
  color: white;
}

.tab-btn-container a.tab-btn:hover{
  background: red;
  color: white;

}

.tab-btn-container a.active{
  background: red;
  color: white;
}

/*账号信息页面格式*/
.account-content-container {
  border: 1px solid red;
  width: 80%;
}

.account-content-container .account-info-main-title h3{
  min-height: 20px;
  text-align: center;
}

.account-content-container .account-info-item{
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 1em;
  margin-top: 1em;

  overflow: hidden;
  clear: both;
}

.account-info-item>label.account-info-item-title {
  padding:5px;
  margin-right: 1em;
  width: 40%;
  float: left;
  text-align: right;
  margin-bottom: 0px;

}

.account-info-item>input.account-info-item-content {
  text-align: left;
  vertical-align: top;
  width: 20%;
  float: left;
}

.account-info-item .account-info-item-error-message {
  display: inline-block;
  text-align: left;
  width: 30%;
  float: left;

  min-height: 2em;
  margin-left: 5px;
}

.account-info-item .account-info-item-error-message .username-error-msg {
  display: inline-block;
  min-width: 6em;
  height: 2em;;
  color: red;
  /*border: red 1px solid;*/
}

.account-info-item .account-info-item-error-message #btn-username-save {
  vertical-align: top;
  width: 6em;
  height: 2em;
  border: 1px solid red;
}

.account-info-item .account-info-item-error-message #btn-username-save:hover {
  box-shadow: red 3px 3px 3px;
  background: red;
  color: white;
}

.account-info-item .account-info-item-error-message #btn-username-save.active,
.account-info-item .account-info-item-error-message #btn-username-save:active{
  box-shadow: red 2px 2px 1px;
  background: red;
  color: white;
}


.account-info-item #email{
  border: none;
}

.pwd-old-error-msg-container #pwd-old-error-msg{
  display: inline-block;
}

.pwd-old-error-msg-container .loader{
  display: inline-block;
}

/*---------------------------------------------------*/


/*---------------------------------------------------*/

/*地址信息页面格式*/
.address-info-container{
  border: 1px solid red;
  width: 80%;
}

.address-info-container .address-info-main-title h3{
  text-align: center;
}

.address-info-item.threeColumn{
  overflow: hidden;
  clear: both;
  padding-bottom: 2em;
}

.address-info-item {
  min-height: 2em;
  margin-bottom: 10px;
}
.address-info-content .address-info-item.threeColumn .address-info-item-title {
  float:left;
  width:calc(25% - 10px);
  text-align: right;
  padding-right:10px;
}

.address-info-content .address-info-item.threeColumn .address-info-item-content {
  float:left;
  width:50%;
  text-align: left;
}

.address-info-content .address-info-item.threeColumn .error-message {
  color: red;
  float:right;
  text-align: left;
  width:calc(25% - 12px);
  padding-left:10px;
  border: solid 1px transparent;
  min-height: 2em;

}

.address-info-item.threeColumn .address-info-item{
  margin-top:10px;
  margin-bottom: 10px;
}

.address-info-item #address {
  overflow-y:visible;
}



.address-info-save {
  margin: 5px;
  margin-top: 20px;
}

button#save-address {
  padding-left:5px;
  padding-right: 5px;
  background: gainsboro;
  color: white;
}

button#save-address.active{
  color: white;
  background: red;
}

button#save-address span {
}


button#save-address.active span{

}


/*头像信息页面*/
.avatar-info-container{
  border: 1px solid red;
  width: 80%;
}

.avatar-info-container .avatar-old-container{
  border: solid red 1px;
}

.avatar-info-container .avatar-info-main-title{
  text-align: center;

}

.avatar-old-container img#img-avatar {
  width: 100px;
  height: 100px;
  border: solid rosybrown 1px;
}

.avatar-add-new-container{
  margin-top: 10px;
  border: solid red 1px;
}

.form-row {
  clear: both;
  overflow: hidden;
  /*消除float*/
}

.form-row>label {
  float: left;
  width: 25%;
  text-align: right;
  padding-right: 10px;
}

.form-row>div {
  float: right;
  width: 75%;
  text-align: left;
}

.form-row>div .help{
  text-align: left;
}

.form-row input[type=file]{
  border-radius: 0;
}

.form-row input#submit {
  float: left;
  display: inline;
  margin: 10px 0;
  padding: .5em 2em;
}
