.setting-main-content-container{

}

.tab-btn-container{
  width: 90%;
  margin:0 auto
}

.tab-btn-container div {
  width: 100%;
}
.tab-btn-container a.tab-btn{
  text-align: center;
  display: inline-block;
  width: calc(99%/3 - 2px);
  background: lightcoral;
  min-height: 20px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.tab-btn-container a.tab-btn:active{
  background: red;
  color: white;
}

.tab-btn-container a.tab-btn:hover{
  background: red;
  color: white;

}

.tab-btn-container a.active{
  background: red;
  color: white;
}

/*账号信息页面格式*/
.account-content-container {

}

.account-content-container .account-info-main-title h3{
  min-height: 30px;
  text-align: center;
}

.account-content-container .account-info-item{
  margin-left: 8px;
  margin-right: 8px;
}

label.account-info-item-title {
  padding:5px;
  margin-right: 1em;
  width:6em;
}

/*地址信息页面格式*/

.address-info-container .address-info-main-title h3{
  text-align: center;
}

.address-info-content .address-info-item .address-info-item-title {
  margin-right: 2em;
  margin-left: 1em;
  width:4em;
  line-height: 100%;
  height: 100%;
  vertical-align: middle;
}

.address-info-content .address-info-item .address-info-item-content {
  margin-left: 5px;
  margin-right: 5px;
}

#address {
  width:300px;
  overflow-y:visible;
  margin-top:5px;
  margin-bottom: 5px;
}

.address-info-item .error-message {
  color: red;
}

.address-info-save {
  margin: 5px;
  margin-top: 20px;
}

button#save-address {
  padding-left:5px;
  padding-right: 5px;
  background: gainsboro;
  color: white;
}

button#save-address.active{
  color: white;
  background: red;
}

button#save-address span {
}


button#save-address.active span{

}



/*头像信息页面*/
.avatar-content-container{
  padding: 5px;
}

.avatar-add-new-container{
  padding: 5px;
  margin-top: 50px;
}

.avatar-content-container .avatar-title{
  min-height: 5em;
  text-align: center;

}

.avatar-content-container div div img {
  width: 100px;
  height: 100px;
  border: solid rosybrown 1px;
}

.avatar-add-new-container form #submit{
  margin-top: 1.5em;
  width: 5em;
  height: 3em;
}

.avatar-add-new-container form input#avatar{
  display: inline-block;
  height: 2em;
  margin: 5px;
}