.single-card-main-title {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 1em;
}

.postal-info-container {

}

.postal-title-container {
  margin-bottom: 0.5em;
  font-weight:bold;
}
.postal-title-container .main-title{
  font-size: 16px;
  margin-bottom: 0.5em;
  font-weight:bold;
}

.postal-info-item {
  overflow: hidden;
  clear:both;
  margin-bottom: 5px;
}

.postal-info-item .postal-info-title{
  width:30%;
  text-align: right;
  float: left;

}

.postal-info-item .postal-info-content{
  width: 65%;
  text-align: left;
  float: right;
  margin-bottom:2px;
}

.postal-info-content .card-photos-container div.img-container {
  margin:2px;
  border: 1px gray solid;
  display: inline-block;
}

.card-photos-container div img{
  width: 200px;
  overflow: visible;
}

.postal-info-content #card_photo_file{
  margin-top:0.5em;
}

.postal-info-content #upload-btn{
  margin-top: 1em;
  padding:0 1em;
}

.postal-info-content .item-error-msg{
  min-width:6em;
  min-height:2em;
  /*border: red 1px solid;*/
  vertical-align: top;
  margin-top:0.5em;
}

.postal-info-content .upload-card-photo-container .upload-photo-title {
  margin-top: 1em;
}

.upload-card-photo-container {
  margin-top: 1em;
  border: 1px solid red;
}