table tr td{
  margin-right: 10px;
  padding-right: 10px;
}

table tr th{
  margin-right: 10px;
  padding-right: 10px;
}

.cards-info-container{
  margin-top:1.5em;
}

.tab-btn-container {

}

a.tab-btn {
  display: inline-block;
  width:10%;
  text-decoration: none;
  color: black;
}

a.tab-btn:hover {
  text-decoration: none;
  color: white;
  background: red;
}

a.tab-btn.active{
  background: red;
  color: white;
  text-decoration: none;
}
